@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  cursor: default;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}